.about {
  padding: 3rem 2rem;
  background-color: #fafafa;
  text-align: center;
}

.about h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #222;
  margin-bottom: 1rem;
}

.about p {
  font-size: 1.17rem;
  color: #444;
  max-width: 670px;
  margin: 0 auto;
  line-height: 1.6;
}